body{
    background-color: rgb(252, 200, 122);
}
p{
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid red;
}
p::selection{
    background-color: rgb(198, 161, 233);
    color:  rgb(252, 200, 122);
}
h1:hover{
    color:aqua;
}